@import "../../variables.scss";

.map-details-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.2);
}
.map-details-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map-details {
	position: relative;
	// position: absolute;
	width: 80%;
	// height: 80%;
	max-width: 500px;
	max-height: 95%;
	// max-height: 500px;
	// left: 50%;
	// top: 50%;
	z-index: 2;
	// transform: translate(-50%, -50%);
	background: $UIbg;
	box-shadow: $shadow;
	padding: 32px;
	overflow: auto;
}
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	transition: 0.3s;
	background: #fff;
	z-index: 1;
	&.visible {
		height: 95vh;
	}
}
.popup-close,
.map-details-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		top: 40%;
		width: 100%;
		position: absolute;
		height: 2px;
		background: $borderColor;
		transition: 0.3s;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
	&:hover {
		&:before,
		&:after {
			background: $hover;
		}
	}
}
.map-details-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.map-details-row {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	margin-bottom: 8px;
	&.center {
		text-align: center;
		justify-content: center;
	}
	&.activity-row,
	&.report-row {
		margin-top: 16px;
		margin-bottom: 16px;
		text-align: center;
	}
}
.google-map-link {
	color: $hover;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid $hover;
	// text-decoration: underline;
	font-size: 14px;
}
.activity-button,
.report-link {
	color: $danger;
	background: none;
	cursor: pointer;
	// text-decoration: underline;
	border-bottom: 1px solid $danger;
	&:focus {
		outline: none;
	}
	&:active {
		color: $hover;
	}
}
.textarea-report {
	width: 100%;
	resize: none;
	height: 4.7em;
	border: $border;
	padding: 8px;
	font-size: 0.8em;
	margin-bottom: 8px;
}
.report-button {
	padding: 10px 15px;
	cursor: pointer;
	color: $danger;
	font-size: 16px;
	transition: 0.3s;
	border: 1px solid $danger;
	transition: 0.3s;
	background: none;
	&:hover {
		color: #fff;
		background: $danger;
	}
}
.report-row-inner {
	width: 100%;
	text-align: center;
}
.report-form-wrapper {
	margin-top: 10px;
}
.img-container {
	max-width: 110px;
	margin: auto;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
	z-index: 1;
}
.img-details {
	position: relative;
	z-index: 1;
	transition: 0.3s;
	&.scale {
		transform: translateY(100%) scale(3);
		&~.zoom-icon-wrap {
			display: none;
		}
	}
}
.map-details-value {
	font-weight: bold;
}
.user-mark select {
	font-size: 16px;
	padding: 5PX;
	border: 1px solid rgba(100, 100, 100, 0.8);
	display: block;
	width: 100%;
}
.map-details-title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 8px;
}
.zoom-icon-wrap {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 25%;
	max-width: 30px;
	z-index: 1;
	background: rgba(255,255,255,.2);
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}


@media screen and (max-width: 767px) {
	.map-details {
		width: 100%;
		height: 100%;

		max-width: 100%;
		max-height: 100%;
		// padding: 16px;
	}
}
