.rating-content {
  width: 100%;
  margin: auto;
}
.rating-order {
  display: flex;
  padding: 32px 32px 0;
  align-items: center;
  font-size: 16px;
}
.rating-order-title {
  font-weight: bold;
  margin-right: 10px;
}
.rating-order-list {
  display: flex;
}
.rating-order-item {
  background: none;
  font-size: 16px;
  margin-right: 0.5em;
  color: #2D72B1;
  display: block;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #2D72B1;
  }
  &.active {
    color: #000000;
    border-bottom: none;
    cursor: default;
    &:after {
      display: none;
    }
  }
  &:focus {
    outline: none;
  }
  &:last-child {
    margin-right: 0;
  }
}
.rating-table {
  overflow: auto;
  height: 100%;
}
.rating-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid rgba(100, 100, 100, 0.8);
  div {
    font-weight: bold;
  }
}
.rating-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  color: #000;
}
.rating-img {
  width: 25%;
  img {
    transition: 0.5s;
    width: 70%;
    max-width: 50px;
    // margin: auto;
  }
  &:hover {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
.rating-name {
  width: 20%;
}
.rating-price {
  width: 5%;
}
.rating-place {
  width: 10%;
  text-align: center;
  a {
    margin: auto;
    max-width: 30px;
    display: block;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
.rating-mark {
  // width: 2%;
  min-width: 2em;
}
.rating-size {
  width: 10%;
}

@media screen and (max-width: 767px) {
  .rating-row {
    font-size: 14px;
    padding: 16px;
  }
  .rating-title-row {
    padding: 16px;
    .rating-img,
    .rating-name,
    .rating-price,
    .rating-qn,
    .rating-place,
    .rating-mark,
    .rating-size {
      font-size: 14px;
      text-align: center;
      padding: 0 3px;
    }
  }
  .rating-img {
    width: 20%;
  }
  .rating-place {
    width: 20px;
  }
  .rating-place a {
    max-width: 20px;
  }
  .rating-size {
    width: 17%;
  }
  .rating-order {
    padding-bottom: 20px;
    justify-content: flex-start;
    // flex-direction: column;
  }
  .rating-order-title {
    // margin-bottom: 10px;
    font-size: 14px;
  }
  .rating-order-item {
    font-size: 14px;
  }
  .rating-price {
    display: none;
  }
}
