@import	 '../../variables.scss';

.error-404 {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	svg {
		max-width: 200px;
		height: auto;
		width: 100%;
		display: block;
	}
}
.error-404-text {
	font-size: 16px;
	max-width: 600px;
	width: 95%;
	text-align: center;
	line-height: 1.25;
	margin-top: 24px;
	margin-bottom: 24px;
}
.to-main {
	font-style: 16px;
	text-decoration: none;
	color:$sidebarColor;
	&:hover {
		color: $danger;
	}
}