.success-popup {
	position: absolute;
	width: 80%;
	height: 80%;
	max-width: 400px;
	max-height: 400px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: rgba(239, 239, 239, 0.95);
	border-radius: 5px;
	padding: 8% 5%;
	z-index: 1;
  }
  .success-popup-inner {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(100, 100, 100, 0.8);
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	height: 100%;
  }
  .success-popup-title {
	font-size: 24px;
	margin-bottom: 1em;
  }
  .success-popup-text {
	font-size: 18px;
	padding: 0 10px;
  }