.share-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.share-buttons-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.share-buttons-item {
	margin: 0 5px;
	&:last-child {
		margin-right: 0;
	}
	svg {
		display: block;
		width: 100%;
		height: auto;
		max-width: 25px;
	}
}