@import "../../variables.scss";

.section-content {
	max-height: 100%;
	padding: 32px;
	overflow: auto;
	font-size: 16px;
}
h1 {
	text-align: center;
	font-size: 16px;
}
.section-content-item {
	padding-bottom: 32px;
	.h3 {
		text-align: center;
		font-size: 24px;
		padding-bottom: 1em;
		font-weight: bold;
	}
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $hover;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 25px;
	}
	svg {
		fill: #333;
		display: inline-block;
		vertical-align: middle;
		max-width: 35px;
	}
}


// @media (max-width: 767px) {
// 	.section-content {
// 		padding: 16px;
// 	}
// }
