@import "../../variables.scss";

#map {
	width: 100%;
	height: 100%;
	overflow: hidden;
	.gm-bundled-control > .gmnoprint {
		overflow: hidden;
		background: $UIbg;
		// border: $border;
		box-shadow: $shadow;
		& > div {
			background: none !important;
			& > div {
				background: #333 !important;
			}
		}
	}
}
.gm-fullscreen-control {
	display: none !important;
}
// #map-add {
// 	.gm-bundled-control > .gmnoprint {
// 		overflow: hidden;
// 		background: rgba(239, 239, 239, 1);
// 		border: $border;
// 		& > div {
// 			background: none !important;
// 			& > div {
// 				background: #333 !important;
// 			}
// 		}
// 	}
// }

.search-bar {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	box-shadow: $shadow;
	border-top: none;
	display: flex;
	justify-content: space-between;
	background: $UIbg;
}
.search-button,
.search-current-position {
	width: 40px;
	height: 40px;
	min-width: 40px;
	padding: 5px;
	border: 1px solid $hover;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		display: block;
		margin: auto;
		width: 80%;
		fill: $hover;
	}
}
.search-current-position {
	margin-right: 20px;
}
.search-button {
	// margin-left: 20px;
	border: $border;

	svg {
		width: 80%;
		fill: $borderColor;
		display: block;
		margin: auto;
	}
}
.search-input {
	background: none;
	border-bottom: $border;
	width: 100%;
	font-size: 16px;
	padding: 10px;
}

@media screen and (max-width: 767px) {
	.success-popup {
		z-index: 2;
		padding: 20% 10%;
	}
	.search-bar {
		flex-direction: column;
	}
	.search-button,
	.search-current-position {
		margin-right: 0;
	}
	.search-current-position {
		margin-bottom: 8px;
	}
}
