.preloader {
	margin: auto;
	transform: translateZ(1px);
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	& > div {
		display: inline-block;
		width: 64px;
		height: 64px;
		margin: 8px;
		border-radius: 50%;
		background: #5c95f3;
		animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
}
@keyframes lds-circle {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}
