@import "../../variables.scss";
.add-section-rows {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.add-form {
	height: 100%;
	padding: 32px;
	overflow: auto;
}
.add-section-row {
	width: calc((100% - 32px)/2);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&.add-section-row-full {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.add-section-row-inner {
	width: 100%;
	display: flex;
	padding-bottom: 32px;
	flex-direction: column;
	&.third {
		width: calc((100% - 32px*2)/3);
	}
}
#map-add {
	height: 236px;
	width: 100%;
	border: $border;
	
}
.map-add-searchbox-wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	padding: 10px 20px;
	z-index: 1;
	top: 20px;
	background: $UIbg;
}
#map-add-searchbox {
	background: none;
	border-bottom: $border;
	font-size: 16px;
}
.add-section-text {
	font-size: 16px;
	margin-bottom: 16px;
	font-weight: bold;
}
.add-section-input {
	align-items: center;
	display: flex;
	textarea,
	input,
	select {
		font-size: 14px;
		padding: 12px 16px;
		background: #ffffff;
		line-height: 1.2;
		border: $formBorder;
		display: block;
		width: 100%;
	}
	textarea {
		min-height: 6em;
	}
}
.error {
	border-color: $danger !important;
}
.add-button {
	padding: 12px 60px;
	min-width: 100%;
	background: $hover;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
	&:hover {
		background: $sidebarBg;
	}
	&[disabled="disabled"] {
		opacity: 0.5;
		color: $borderColor;
		&:hover {
			color: $borderColor;
		}
	}
}
.button-wrap {
	text-align: center;
}
label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="checkbox"] {
	display: none;
}
.checkbox {
	display: block;
	width: 32px;
	height: 32px;
	border: $formBorder;
	margin-right: 32px;
	position: relative;
	svg {
		display: none;
		position: absolute;
		width: 90%;
		max-height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	input[type="checkbox"]:checked ~ svg {
		display: block;
	}
}
.add-checkbox-wrap {
	width: 100%;
	display: flex;
	padding-bottom: 32px;
}
.img-preview {
	max-height: 64px;
	width: auto;
}
input[type="file"] {
	display: none;
}
.upload-file-label {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.remove-file {
	width: 40px;
	height: 40px;
	margin-left: 16px;
	background: $UIbg;
	border: 1px solid $danger;
	position: relative;
	opacity: 1;
	cursor: pointer;
	&:before {
		content: "";
		top: calc(50% - 1px);
		left: 20%;
		width: 60%;
		position: absolute;
		height: 3px;
		background: $danger;
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		position: absolute;
		width: 60%;
		height: 60%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		left: 50%;
		top: 50%;
		border: 3px solid $danger;
		transform: translate(-50%, -50%);
	}
	&[disabled] {
		opacity: 0.4;
		cursor: no-drop;
	}
}
.upload-file {
	width: 40px;
	height: 40px;
	background: $UIbg;
	position: relative;
	border: $border;
	margin-left: 16px;
	&:before,
	&:after {
		content: "";
		top: 48%;
		left: 20%;
		width: 60%;
		position: absolute;
		height: 1px;
		background: $borderColor;
		transition: 0.3s;
	}
	&:after {
		transform: rotate(90deg);
	}
}

.add-tabs {
	display: none;
}

@media screen and(max-width:767px) {
	.add-section-row {
		width: 100%;
	}

	&.add-section-row-full {
		width: 100%;
		.add-section-text {
			width: 40%;
		}
	}
	.add-section-row-inner {
		&.third {
			width: 100%;
		}
	}
}
