@import "./variables.scss";

* {
	padding: 0;
	margin: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
b {
	font-weight: 900;
}
sup {
	font-size: 0.7em;
}
html,
body {
	height: 100%;
}

.mob {
	display: none !important;
}
.desk {
	display: block !important;
}
body.fixed {
	overflow: hidden;
}

.disclamer {
	font-size: 12px;
}
.offline-page {
	.offline {
		display: block;
	}
	#app {
		display: none;
	}
}
.offline {
	background: #efefef;
	display: none;
	height: 100%;
	width: 100%;
	.offline-inner {
		width: 100%;
		height: 100%;

		flex-direction: column;
		display: flex;

		justify-content: center;
		align-items: center;
	}
	p {
		font-size: 24px;
		text-align: center;
		width: 90%;
		margin: 2em auto 0;
		color: #000;
	}
}
.App {
	width: 100%;
	height: 100%;
	// min-height: -webkit-fill-available;
	position: relative;
	display: flex;
}
.app-wrap {
	height: 100%;
	width: 100%;
}
.first-page-title {
	position: absolute;
	color: #ffffff;
}
.section-inner {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.app-section {
	height: 100%;
	position: relative;
	width: 100%;
}
.section-title {
	font-size: 24px;
	padding: 16px 32px;
	color: #000;
	background: $titleBg;
	box-shadow: $shadow;
	z-index: 1;
}

@media (max-width: 767px) {
	.desk {
		display: none !important;
	}
	.mob {
		display: block !important;
	}
	.App {
		flex-direction: column;
	}
	.app-wrap {
		height: calc(100% - 87px);
		flex-grow: 1;
	}
	.section-inner {
		padding: 0;
	}

	.section-title {
		font-size: 20px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
}
