$borderColor: rgba(100, 100, 100, 1);
$border: 1px solid $borderColor;
$hover: #2D72B1;
$UIbg: #fff;
$danger: #f00;
$shadow: 0 0 10px 1px rgba(0,0,0,.2);
$sidebarBg: #161C2B;
$sidebarColor: #5c95f3;
$titleBg: #f4f4f4;
$formBorder: 1px solid #E4DCD3;