@import '../../variables.scss';


.nav-bar-wrapper {
	width: 120px;
	background: $sidebarBg;
	order: -1;
	box-shadow: $shadow;
	position: relative;
}
.nav-bar-logo {
	padding: 15px;
	max-width: 100px;
	margin: auto;
	svg {
		width: 100%;
		height: auto;
		display: block;
	}
}
.nav-bar {
	width: 100%;
	border-bottom: none;
	z-index: 1;
	font-size: 14px;
	color: $hover;
}
.nav-item {
	width: 100%;
	padding: 1em;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	position: relative;

	svg {
		width: 90%;
		max-width: 40px;
		fill: #fff;
		display: block;
		margin: auto;
		height: auto;
	}
	&.active {
		cursor: default;
		color: #fff;
		background: $hover;
		svg {
			fill: #fff;
		}
	}
	.nav-item-text {
		margin-top: 0.5em;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.nav-bar-wrapper {
		order: 1;
		width: 100%;
	}
	.nav-bar-logo {
		display: none;
	}
	.nav-bar {
		display: flex;
	}
	.nav-item-img {
		width: 32px;
	}
}
